.img-fluid {
    width: 100%;
    height: 250px;
}
.category .red {
    color: red!important;
}

#loading {
    background-color:white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #loading img {
    margin: auto;
    display: block;
    position: absolute;
    z-index: 999999;
  }

#detail img {
  width: 100%;
}

.blog_item .blog_post img {
  height: 400px;
  width: 100%;
}

.halemet_img img{
  width: 80%;
}
.media img{
  height: 70px;
}